node_modules
libs
pyproject.toml
!plugins/python/**/pyproject.toml
uv.lock
.venv
dist

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vitest.config.*.timestamp* 